
main {
  min-height: 50vh;
}

.navi {
  background-color: #3c4c5d;
  height: 85px;
  font-family: 'Roboto', sans-serif;
}

.brand-text {
  color: #ffd700; /* Choose a contrasting color (this is a reddish color) */
}

#men-dropdown {
  margin-left: 30px;
  margin-right: 35px; /* Adjust the margin as needed */
}

.navi .nav-item .nav-link {
  color:#ffffff ;
}

/* Add these styles for navbar links */
.navi a {
  text-decoration: none;
  padding: 15px;
  transition: color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.navi a:hover {
  color: #ffd700;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 3em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}